* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner {
  background-image: url(../image/image1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}